<div class="modal fade" id="myModalBlock" role="dialog">
    <div class="modal-dialog modal-lg">
            <img src="~/Content/Imagens/loading_apple.gif" class="img-responsive center-block loading"/>
    </div>
</div>