body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#dynamicTabs{
    margin-top:10%;
}

thead th{
    background-color: #000000;
    color: #ffffff;
}
tbody .agrupador{
    background-color: #808080;
}
tbody .agrupado{
    background-color: #C0C0C0;
}
tbody .sub-agrupado{
    background-color: #D3D3D3;
}
.loading{
    width:30%;
    height:30%;
}
td span b .glyphicon{
    cursor:pointer;
}

.titulo{
    background-color:#808080;
    padding:1%;
    color:#ffffff;
    margin:1%;
}